<p>You will receive an email at the specified email address. This email
is encrypted and can only be decrypted by the person with the private
key for the specified email address. Follow the link inside the email in
order to sign in.</p>
